html
  head
    title= title
  body
    h1= message
    p
    a(href='//google.com') Медкомиссия
    p    
    a(href='localhost:1') Инвентаризация
    p   
    a(href='//localhost:3001/energetics') Энергетики
    p 
    a(href='localhost:1') Картриджи